@mixin cta-button {
  background-color: red;
  border: none;
  color: #fff;
  display: block;
  font-size: 14px;
  margin: 0 auto;
  padding: 16px 20px;
  text-transform: uppercase;
  transition: background-color .3s ease;

  &:hover {
    background-color: #242424;
  }
  &:active {
    background-color: #363636;
  }
}